<div class="container mt-5">
    <h2>My vacuums</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Active</th>
            <th>On</th>
            <th>Off</th>
            <th>Discharge</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vacuum of vacuums">
            <td>{{vacuum.id}}</td>
            <td>{{ vacuum.name }}</td>
            <td>{{ vacuum.status }}</td>
            <td>{{ vacuum.active }}</td>
            <td>
                <button class="btn btn-primary ml-auto" *ngIf = "authService.canStartVacuum" (click)="turnOn(vacuum.id)">Turn on</button>
            </td>
            <td>
                <button class="btn btn-primary ml-auto" *ngIf = "authService.canStopVacuum"(click)="turnOff(vacuum.id)" >Turn off</button>
            </td>
            <td>
                <button class="btn btn-primary ml-auto"*ngIf = "authService.canDischargeVacuum"(click)="discharge(vacuum.id)" >Discharge</button>
            </td>
            <td>
                <button class="btn btn-primary ml-auto theme-red" *ngIf = "authService.canDeleteVacuum"(click)="delete(vacuum.id)" >Deactivate</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
