<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    History of requests
                </div>

                <div class="card-body">
                    <div class="ordered-list-container">
                        <div *ngFor="let item of history; let i = index;" class="mb-2">
                            <ul>
                            <li>{{item}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
