<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 50vh;">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          Entity Extraction
        </div>
        <div class="card-body">
          <form (submit) = "submitForm()">
            <div class="form-group">
              <label for="textArea">Text Area:</label>
              <textarea class="form-control" id="textArea" name="textArea" rows="10" [(ngModel)]="text" required></textarea>
            </div>

            <!-- Checkboxes using Bootstrap grid system -->
            <div class="form-group row">
              <div class="col-md-10">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkbox1" name="checkbox1" [(ngModel)]="abstract">
                  <label class="form-check-label" for="checkbox1">Abstract</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkbox2" name="checkbox2" [(ngModel)]="image">
                  <label class="form-check-label" for="checkbox2">Image</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkbox3" name="checkbox3" [(ngModel)]="categories">
                  <label class="form-check-label" for="checkbox3">Categories</label>
                </div>
              </div>
            </div>

            <div class="slider">
              <!--binding failed-->
              <input type="range" min="0" max="1"  step = "0.1" oninput="rangeValue.innerText = this.value"  >
              <p id="rangeValue" >1</p>
            </div>


            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </form>

          <div>
            <div *ngFor="let annotation of entity.annotations; let i = index;" class="mb-2">
              <h3>Abstract:</h3>
              <p>{{annotation.abstract}}</p>
              <h3>Categories:</h3>
              <div *ngFor="let cat of annotation.categories">
                <p>{{cat}}</p>
              </div>
              <h3>Image:</h3>
              <div>
                <p>Full image</p>
              <img src="{{annotation.image.full}}" alt="Full image" width = "300" height="300">
              </div>
              <div>
                <p>Thumbnail</p>
              <img src="{{annotation.image.thumbnail}}" alt="Full thumbnail" width = "150" height="150">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
