<div class="container mt-5">
    <h2 class="mb-4">Create user</h2>
    <form (ngSubmit)="createUser()">
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
        </div>

        <div class="form-group">
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" class="form-control" [(ngModel)]="user.email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
