<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Enter Token
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="token">Token:</label>
              <input type="text" class="form-control" id="token" name="token" placeholder="Enter your token" [(ngModel)] = "token">
            </div>
            <div class="text-center"> <!-- Center align the button -->
              <button type="submit" class="btn btn-primary mt-3" (click) = "saveToken()">Submit</button> <!-- Add mt-3 for top margin -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
