<div class="container mt-5">
  <h2>User List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="btn btn-primary ml-auto" (click)="editUser(user)">Edit</button>
      </td>
      <td>
        <button class="btn btn-primary ml-auto" (click)="deleteUser(user.id)"*ngIf="canDelete()" >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
